.SignInPage {
  padding-top: 100px;
}
.SignInPage .boxInside {
  margin: auto;
  width: 570px;
  height: 457px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ababab;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 19px;
}
@media screen and (max-width: 800px) {
  .boxInside {
    width: 100% !important;
  }
}
